html
    head 
        title Movie Database - #{user.userid}
        link(rel='stylesheet' href='/stylesheet.css')
body 
    include ../partials/header

    div#main 
        br
        b.sectionHeader Username: #{user.userid}
        br
        br
        div#account_permission
            if user.contributor === true
                b.text AccountType: Contributor
            if user.contributor === false 
                b.text AccountType: Regular
            br
            br
            button(type="button" id="permission") Change Account
            br
            br
            b.sectionHeader People You Follow: 
            br
        div#profilePageButton
            each p in user.pfollow 
                button(type="button" id=p) Unfollow
                | 
                a.textLink(href="/persons/" + p) #{p}
                br
            br
            br

        div#follow_user 
            b.sectionHeader Users You Follow: 
            br
        div#profilePageButton
            each u in user.ufollow 
                button(type="button" id=u) Unfollow
                | 
                a.textLink(href="/users/" + user.userid) #{u}
                br
            br

        div#watched_movies
            b.sectionHeader Movies You've Watched:
            br
        div#profilePageButton
            each m in user.watched 
                button(type="button" id=m) Remove
                | 
                a.textLink(href="/movies/" + m) #{m}
                br
            br

        div#recommended 
            b.sectionHeader Recommended Movies:
            br
        div#profilePageButton
            each r in user.recommended 
                a.textLink(href="/movies/" + r) #{r}
                br
            br

        div#notifications 
            b.sectionHeader Notifications: 
            br
        div#profilePageButton
            each n in user.notifications 
                button(type="button" id=n.title + "delete") Delete
                | 
                button(type="button" id=n.title + "view") View
                | 
                | #{n.note}
                br
        
        script(src="/myprofile.js")

